<div class="col-sm-6 col-md-4 rubyist">
  <div class="thumbnail">
    <img src="<%= rubyist.avatar_url %>" class="img-responsive">
    <div class="caption">
      <h3 class="text-center"><%= link_to rubyist.login, rubyist.html_url %></h3>
      <ul class="list-group">
        <li class="list-group-item"><h4>Joined Github:</h4> <%= rubyist.created_at.strftime("%b %d, %Y") %></li>
        <li class="list-group-item"><h4>Repo Count:</h4> <%= rubyist.public_repos %></li>
        <li class="list-group-item"><h4>Followers:</h4><%= rubyist.followers %></li>
        <li class="list-group-item"><%= link_to "Recent Activity on Github", rubyist_path(username: rubyist.login) %></li>
        <li class="list-group-item"><%= link_to "All Repos", rubyist_repos_path(username: rubyist.login) %></li>
      </ul>
    </div>
  </div>
</div>
