<img src="<%= rubyist.avatar_url %>" class="img-responsive">
<h3><%= link_to rubyist.login, rubyist.html_url %></h3>
<ul>
  <li><h4>Joined Github:</h4></li>
  <li><%= rubyist.created_at %></li>
  <li><h4>Repo Count:</h4></li>
  <li><%= rubyist.public_repos %></li>
  <li><h4>Followers:</h4></li>
  <li><%= rubyist.followers %></li>
</ul>
